@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito';
	background-color: #111;
	line-height: 1.6;
	color: beige;
}

ul {
	list-style: none;
}

.container {
	max-width: 768px;
	margin: 100px auto;
	padding: 0 20px;
}
